@{
    ViewData["Title"] = "Fitness";
}

<div class="text-center">
    <p>Add excel sheets of previous routines I havce done</p>
    <p>Possibly keep my lifting journal here</p>
    <p>Would need to figure out if in memory caching? - How large are these files</p>
</div>
