@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <p>Add what relevant info that would want to be seen on the first page... Look at other websites</p>
    <p>Could just be a picture?</p>
</div>
